
/*fon face*/
@font-face {
    font-family: 'VPBank';
    src: url('../fonts/VPBank-Bold.eot');
    src: url('../fonts/VPBank-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VPBank-Bold.woff2') format('woff2'),
        url('../fonts/VPBank-Bold.woff') format('woff'),
        url('../fonts/VPBank-Bold.ttf') format('truetype'),
        url('../fonts/VPBank-Bold.svg#VPBank-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VPBank';
    src: url('../fonts/VPBank.eot');
    src: url('../fonts/VPBank.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VPBank.woff2') format('woff2'),
        url('../fonts/VPBank.woff') format('woff'),
        url('../fonts/VPBank.ttf') format('truetype'),
        url('../fonts/VPBank.svg#VPBank') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*icon*/
.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-link { width: 32px; height: 32px; background-image: url(../img/icon-link.png);}

body {  font-family: 'VPBank'; font-size: 16px; color:#666; padding-top: 80px; padding-bottom: 99px; }
img { max-width: 100%; }
.btn, button , a { transition: all 0.2s ease; }
.btn:hover { transform: translateY(-1.5px); }
a:hover { text-decoration: none; }
/*btn*/
.btn-more { width: 130px; height: 130px; background: #008445; border-radius: 12px; line-height: 130px; text-align: center;  }
.btn-more i { transition: all 0.2s ease; }
.btn-more:hover i { transform: translateX(4px); }
.btn-green { height: 40px; line-height: 36px; padding: 0 30px; color: #fff; background: #1d8329; }
.btn-green:hover { color: #fff; }
/*header*/
.main-nav { background:#fff; box-shadow: 0 0 2px #ddd;}
.main-nav .navbar-brand { padding-top: 12px; padding-bottom: 12px;}

/*slider*/
.slider-header { position: relative; }
.outer-dotted { position: absolute;  left: 0; top: 60px; z-index: 2; width: 100%;  text-align: right; }
.outer-dotted .slider-counter { font-size: 2rem; color: #fff;  }
.outer-dotted .slider-counter span { font-size: 3.25rem;   }

.slider { z-index: 1; margin-bottom: 210px;  }
.slider .owl-stage-outer { padding-bottom: 110px; }
.slider .item { position: relative; }
.slider .item > a { position: relative; display: block; height: calc( 100vh - 160px); }
.slider .item img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
.slider .item .des { font-size: 1.125rem; position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; font-weight: bold; margin-bottom: -77px; }
.slider .item .des .inner { display: flex; background: #fff; padding: 12px; border-radius: 12px; box-shadow: 0 0 25px #ccc; }
.slider .item .des .inner p { display: flex; width: 1px; flex-grow: 1; padding-left: 50px; padding-right: 50px; margin-bottom: 0; }
.slider .item .des .inner p span { margin: auto; display: block; }



.slider.owl-theme .owl-dots { max-width: 1140px; width: 100%; margin: -250px auto 0 auto; text-align: right; position: relative; z-index: 3; }
.slider.owl-theme .owl-dot { position: relative; }
.slider.owl-theme .owl-dot.active:focus {  border: 0!important; outline: 0!important;}
.slider.owl-theme .owl-dots .owl-dot span { width: 18px; height: 18px; border-radius: 50%; background: none; border: 1px solid #fff; }
.slider.owl-theme .owl-dots .owl-dot.active span { background: #fff; }
.slider.owl-theme .owl-dots .owl-dot:first-child:before { content: ""; position: absolute; right: 45px; top: 14px;  width: 48px; height: 2px; background: #fff; }
.slider.owl-theme .owl-nav { display: none; }


/*.slider-card*/
.slider-card.owl-carousel .owl-item img { width: auto; display: inline-block; }
.slider-card.owl-carousel .owl-stage .owl-item:first-child { position: relative; }
.slider-card.owl-carousel .owl-stage .owl-item:first-child:after { content: ""; position: absolute; right: -40px; top: 0; height: 100%; width: 1px; background:#b5b5b5 }
/*section-page*/
.section-page { padding: 35px 0; }

.section-faq { background: #f4f6ed; padding-top: 50px; }


#sync2.owl-carousel .owl-stage { transform: translate3d(0px, 0px, 0px)!important; }


/*title*/
.title { text-align: center; padding-bottom: 30px; }
.title h5 { font-size: 1.313rem; font-weight: bold; text-transform: uppercase; color: #717171; }
.title h2 { font-size: 2.25rem; font-weight: bold; color: #008445; }

/*list-check*/
.list-check { padding: 0; margin: 0; list-style: none; }
.list-check li { padding-left: 30px; padding-bottom: 15px; position: relative; color: #888; font-size: 1rem; }
.list-check li:after { position: absolute; content: ""; width: 16px; height: 16px; left: 0; top: 7px; background: url(../img/check.png) 0 0 no-repeat; }


/*art-choose*/
.art-choose { position: relative; width: 100%; height: 100%; border-radius: 12px; overflow: hidden; }
.art-choose > a.thumb img {  object-fit: cover; width: 100%; height: 100%; }
.art-choose .des { width: 100%; position: absolute; left: 0; bottom: 0; padding: 25px;  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);  }
.art-choose .des p { font-size: 0.875rem; color: #fff; margin-bottom: 0; }
.art-choose .des h3 { font-size: 1.5rem; margin-bottom: 5px; font-weight: bold; transition: all 0.2s ease; }
.art-choose .des h3 a { color: #fff; }
.art-choose:hover .des h3 { transform: translateY(-5px); }

/*art-choose-1*/
.art-choose-1 { height: 0; padding-bottom: 40%; margin-bottom: 30px; box-shadow: 0px 0px 2px #eee;}
.art-choose-1 > a.thumb img { position: absolute; }
.art-choose-1 .des { padding: 50px 60px; }
.art-choose-1 .des p { font-size: 1rem;  }
.art-choose-1 .des h3 { font-size: 2.25rem;  }

/*art-choose-2*/
.art-choose-2 { height: 0; padding-bottom: 60%;  box-shadow: 0px 0px 2px #eee;}
.art-choose-2 > a.thumb img { position: absolute; }
.art-choose-2 .des { padding: 15px; }
.art-choose-2 .des h3 { font-size: 1.125rem; margin-bottom: 0; }
















.grid { display: grid; width: 100%; grid-auto-flow: dense; }
.grid-container { grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(2, 225px); grid-column-gap: 30px; grid-row-gap: 30px;}
.grid-item { display: flex; justify-content: center; align-items: center; position: relative;}


.grid-item.num-col-3 { grid-column-end: span 3;}
.grid-item.num-col-4 { grid-column-end: span 4;}
.grid-item.num-col-5 { grid-column-end: span 5;}

.grid-item.num-row-1 { grid-row-end: span 1;}
.grid-item.num-row-2 { grid-row-end: span 2;}



/*accordion*/
.accordion .card { border: 0;  position: relative; overflow: hidden;}
.accordion .card:after { content: ""; width: 100%; height: 3px; background: #f0f0f0; bottom: 0; left: 0; position: absolute; }
.accordion .card-header { position: relative; z-index: 2; background: #fff; padding: 0; border-radius: 0; border: 0; border-bottom: 1px solid #f0f0f0; }
.accordion .card-header button { position: relative; color: #272727; padding: 15px 12px; outline: none!important; box-shadow: none!important; text-decoration: none!important; }
.accordion .card-header button:hover { transform: translateY(0px); color: #23822e;  }
.accordion .card-header button:after { transition: all 0.2s ease; transform: rotate(90deg); position: absolute; content: ""; right: 10px; top: 22px;  width: 6px; height: 8px; background: url(../img/arrow-right.png) 0 0 no-repeat; }
.accordion .card-header button.collapsed:after {  transform: rotate(0deg); }

.link-view { display: inline-block; font-size: 0.875rem; color: #23822e; }
.link-view:after { margin-left: 20px; content: ""; display: inline-block; width: 6px; height: 8px; background: url(../img/arrow-right.png) 0 0 no-repeat; }

/*footer*/
.footer { z-index: 999; width: 100%; position: fixed; left: 0; bottom: 0; padding: 20px 0; background-image: linear-gradient(to right, #d9efa7, #d1edad, #cbecb3, #c5e9b9, #c1e7be);  }
.left { width: 1px; flex-grow: 1; }
.left span { font-size: 0.75rem; color: #23822e;  }
.left a { font-size: 1.375rem; color: #23822e; display: block;}
.right { width: 50%; margin-top: 5px; color: #272727; }
.right .qrcode { width: 40px; }


/*row*/
.sec-app {padding-right: 460px;position: relative;min-height: 740px;}
.sec-app .img-phone {position: absolute;right: 0;top: -120px;}
.sec-app h4 { margin-bottom: 20px; font-size: 2.25rem; position: relative; font-weight: bold; color: #157c24; position: relative; z-index: 1; padding-top: 70px; padding-left: 50px;}
.sec-app h4 span { position: absolute; left: 0; bottom: 5px; font-size: 4.5rem; color: #efefef; z-index: -1; text-transform: uppercase; }
.sec-app p { padding-left: 20px;font-size: 0.875rem; }

.img-phone { width: 440px; }

.nav-steps { display: flex; margin-left: 20px; margin-right: 20px; position: relative; margin-top: 25px; }
.nav-steps:after { position: absolute; height: 5px; width: 100%; background: #008445; content: ""; left: 0; top: 18px; }
.nav-steps li { width: 33.3333%; position: relative; }
.nav-steps li:first-child { width: 0; text-align: right;}
.nav-steps li a { z-index: 1; background: #fff; color: #008445; font-weight: bold; font-size: 1.125rem;  padding: 0; position: absolute; right: -20px; top: 0; width: 40px; height: 40px; border-radius: 50%; border: 3px solid #008445; line-height: 32px; text-align: center;}
.nav-steps li a.active {background: #008445; color: #fff; width: 74px; height: 74px; border: 5px solid #fff; line-height: 60px; font-size: 2.25rem; top: -17px; right: -38px; }

#steps-one { padding-bottom: 51px; background: url(../img/step1.png) left bottom no-repeat; background-size: contain;}
#steps-two { padding-bottom: 51px; background: url(../img/step2.png) left bottom no-repeat; background-size: contain;}
#steps-three { padding-bottom: 51px; background: url(../img/step3.png) left bottom no-repeat; background-size: contain;}
#steps-four { padding-bottom: 51px; background: url(../img/step4.png) left bottom no-repeat; background-size: contain;}

.line-app { display: flex; margin-top: 70px; font-size: 1.875rem; color: #666; }
.line-app img { width: 173px; margin: 0 20px; }
.line-app span { padding-top: 30px; }
.sec-app .line-app p { font-size: 1.875rem; padding-top: 30px; margin-bottom: 0; padding-left: 0; }
.sec-app .line-app p a { display: block; color: #008445; font-size: 2.25rem; font-weight: bold; }


.section-bg-1 { position: relative;  }
.section-bg-1 .container, #joinnow .container , #faq .container { position: relative; z-index: 10; }
.section-bg-1:after { opacity: 0.1; background: url(../img/bgd-3.png) 0 0 no-repeat; background-size: cover; content: ""; position: absolute; left: 0; top: -50px; width: 646px; height: 508px; }
.section-bg-1:before { opacity: 1; background: url(../img/bgd-2.png) 0 0 no-repeat; background-size: cover; content: ""; position: absolute; right: 0; top: 50%; width: 409px; height: 334px;  }

#joinnow { position: relative; z-index: 1; }
#joinnow:after { opacity: 0.1; background: url(../img/bgd-3.png) 0 0 no-repeat; background-size: cover; content: ""; position: absolute; left: 0; top: -50px; width: 646px; height: 508px; }
#joinnow:before { opacity: 0.8; background: url(../img/bgd-4.png) 0 0 no-repeat; background-size: cover; content: ""; position: absolute; right: 0; top: 50%; width: 606px; height: 517px;  }

#faq { position: relative; z-index: 2; }
@media (min-width: 992px) {

    /*nav*/
    .main-nav .navbar-nav li.nav-item a { padding-left: 1.875rem; padding-right: 1.875rem; color:#666; }
    .main-nav .navbar-nav li.nav-item a:hover, .main-nav .navbar-nav li.nav-item a.active { color: #008445; }
    .main-nav .navbar-nav li.nav-item.lang a { padding: .5rem 0.313rem; display: inline-block; color: #cdcdcd;} 
    .main-nav .navbar-nav li.nav-item.lang a.active, .main-nav .navbar-nav li.nav-item.lang a:hover { color: #666;  }
    .main-nav .navbar-nav li.nav-item.lang a:last-child { padding-right: 0; position: relative; }
    .main-nav .navbar-nav li.nav-item.lang a:last-child:after { content: ""; position: absolute; left: -2px; top: 50%; margin-top: -6px; height: 12px; width: 1px; background: #666; }

}

@media (max-width: 1199px) {
    /*slider-card*/
    .slider-card.owl-carousel .owl-stage .owl-item:first-child:after { display: none; }
    .slider.owl-theme .owl-dots { max-width: 960px; }
    /*sec-app*/
    .sec-app {padding-right: 360px; min-height: 540px;}
    .img-phone { width: 340px; }
    .block-app { display: none; }
    /*footer*/
    .left  { display: none; }
    .right { width: 100%; text-align: center; }
    .right .mr-1 { display: block; color: #23822e; margin-bottom: 5px}
    .right .mr-2.ml-2, .right .qrcode { display: none; }
   
}
@media (max-width: 991px) {
    body { font-size: 14px; padding-bottom: 82px; }
    .main-nav .navbar-nav .nav-link { color: #666; font-size: 1.25rem; }
    .main-nav .navbar-collapse { text-align: center; }
    .main-nav .navbar-nav li.nav-item.lang a { padding: .5rem 0.4rem; display: inline-block; color: #cdcdcd;} 
    .main-nav .navbar-nav li.nav-item.lang a.active, .main-nav .navbar-nav li.nav-item.lang a:hover { color: #666;  }
    .main-nav .navbar-nav li.nav-item.lang a:last-child { padding-right: 0; position: relative; }
    .main-nav .navbar-nav li.nav-item.lang a:last-child:after { content: ""; position: absolute; left: -2px; top: 50%; margin-top: -6px; height: 12px; width: 1px; background: #666; }
    .navbar-toggler-icon { background: url(../img/icon-menu.png) 0 0 no-repeat; width: 32px; height: 21px;}

    .navbar-toggler:focus, .navbar-toggler:hover, .navbar-toggler:hover:focus { border: 0; outline: none; opacity: 0.8; }


    .outer-dotted .slider-counter span { font-weight: normal; }
    .slider.owl-theme .owl-dots { max-width: 720px; }
    .title h5, .art-choose .des h3 { font-size: 1.125rem; }
    .title h2 { font-size: 1.5rem; }
    .slider .item .des, .list-check li, .btn-green, .art-choose-1 .des p {font-size: 0.875rem;}

    .grid-container { display: block; }
    .grid-item { margin-bottom: 20px; }
    .art-choose { border-radius: 20px; }
    .art-choose .thumb { display: block; width: 100%; height: 0; padding-bottom: 52%; position: relative;  }
    .art-choose .thumb img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
    .art-choose .des { padding: 20px; }
    .art-choose-1 { padding: 0; height: auto; margin-bottom: 10px; }
    .art-choose-1 .thumb {  padding-bottom:110%;}
    .art-choose-2 { padding: 0; height: auto; margin-bottom: 10px; }
    .art-choose-2 .thumb {  padding-bottom:110%;}
    .art-choose-2 h3 { display: none; }

    .accordion .row .col-lg-6:last-child { display: none; }

    .footer { padding-top: 0px; padding-bottom: 0px; }
    .right .mr-1 { margin-bottom: 2px; }

    .sec-app h4 { padding-top: 10px; }


.section-bg-1:after {  width: 323px; height: 254px; top: 0; }
.section-bg-1:before { width: 205px; height: 267px;  }

#joinnow { position: relative; z-index: 1; }
#joinnow:after { width: 323px; height: 254px; top: -0; }
#joinnow:before {width: 303px; height: 259px;  }


}

@media (max-width: 480px) {
    .section-bg-1:before { display: none;  }

.section-bg-1:after {  width: 215px; height: 210px; top: 0; }
#joinnow:after {  display: none;  }
#joinnow:before { display: none;   }

    .slider { margin-bottom: 210px; }
    .slider .owl-stage-outer { padding-bottom: 160px; }
    .slider.owl-theme .owl-dots { margin-top: -270px; }
    .slider.owl-theme .owl-dots .owl-dot:first-child:before { width: 40px; top: 10px; right: 35px; }
    .slider.owl-theme .owl-dots .owl-dot span { height: 12px; width: 12px; }
    body { padding-top: 64px; }
    .slider.owl-theme .owl-dots { padding-left: 10px; padding-right: 10px; }
    .main-nav { padding-top: 0; padding-bottom: 0; }
    .slider .item .des .inner { display: block; padding: 15px; }
    .slider .item .des .inner p { display: block; width: auto; padding:0; margin-bottom: 15px;}
    .btn-more { width: 100%; display: block; height: 32px; line-height: 32px; text-align: center; }
    .icon-link { width: 10px; height: 10px; margin-bottom: 5px; }
    .slider .item .des {  top: 100%; bottom: 0; margin-top: -70px;  }

    .slider-card.owl-theme .owl-dots .owl-dot span { margin-right: 4px; margin-left: 4px; border: 1px solid #008445; background: #fff;}
    .slider-card .owl-nav { display: flex; margin-top: 0; position: absolute; left: 0; top: 70px; width: 100%; }
    .slider-card .owl-dots { position: absolute; left: 0; top: 190px; width: 100%;  }
    .slider-card.owl-carousel .owl-item img { padding-left: 40px; padding-right: 40px; margin-bottom: 30px;  }



    .slider-card.owl-theme .owl-dots .owl-dot.active span, .slider-card.owl-theme .owl-dots .owl-dot:hover span { background: #008445; }
    .slider-card.owl-carousel .owl-nav button.owl-next { width: 24px; height: 24px; line-height: 22px; border-radius: 50%; background: #fff; text-align: center; margin-left: auto; opacity: 1!important; box-shadow: 0 0 2px #ccc; }
    .slider-card.owl-carousel .owl-nav button.owl-prev { width: 24px; height: 24px; line-height: 22px; border-radius: 50%; background: #fff; text-align: center; margin-right: auto; opacity: 1!important; box-shadow: 0 0 2px #ccc;}
    .slider-card.owl-carousel .owl-nav button.owl-next span, .slider-card.owl-carousel .owl-nav button.owl-prev span {  display: inline-block;   transform: translateY(-1px);}

    .sec-app { padding-right: 0; padding-bottom: 800px; }
    .sec-app .img-phone { top: auto; bottom: 0; right: 0; width: 100%; }
    .nav-steps li a { top: 8px; font-size:0.875rem; border-width: 1px; width: 26px; height: 26px; line-height: 24px; }
    .nav-steps li a.active { top: 3px; right: -20px; border-width: 1px; font-size:0.875rem; width: 34px; line-height: 32px; height: 34px;  }
.main-nav .navbar-collapse { padding-top: 20px; padding-bottom: 30px; background: #fefefe; margin-right: -15px; margin-left: -15px;}
.main-nav .navbar-nav .nav-link { padding-top: 10px; padding-bottom: 10px; }
.main-nav .navbar-nav li.nav-item.lang a { font-size: 1.25rem; }
.nav-steps { margin-top: 5px; }
}
@media (max-width: 376px) {
    .sec-app { padding-right: 0; padding-bottom: 720px; }
}
@media (max-width: 360px) {
    .sec-app { padding-right: 0; padding-bottom: 700px; }
}