@font-face {
    font-family: 'VPBank';
    src: url('VPBank-Bold.eot');
    src: url('VPBank-Bold.eot?#iefix') format('embedded-opentype'),
        url('VPBank-Bold.woff2') format('woff2'),
        url('VPBank-Bold.woff') format('woff'),
        url('VPBank-Bold.ttf') format('truetype'),
        url('VPBank-Bold.svg#VPBank-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VPBank';
    src: url('VPBank.eot');
    src: url('VPBank.eot?#iefix') format('embedded-opentype'),
        url('VPBank.woff2') format('woff2'),
        url('VPBank.woff') format('woff'),
        url('VPBank.ttf') format('truetype'),
        url('VPBank.svg#VPBank') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

